:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0 ;
  width: auto;
}
.pages{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

.navbar{
  width: 100%;
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;

}
.nav{
  
  margin: 15px;
}
.link{
  margin: 8px;
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: white;
  border-bottom: 1px solid black;
}
.submit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 20px 40px;
  
}
.container h1{
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.container a{
  text-decoration: none;
  color: royalblue;
}
.btn{
  cursor: pointer;
  display: inline-block;
letter-spacing: 0.2mm;
  width: 55vh;
  background-color: lightblue;
  margin: 10px 30px;
  padding: 14px ;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
}
.btn:hover{
  background-color: #000;
  color: yellow;
  
  outline: 0;
}
.btn:focus{
  outline: 0;
}
.text{
  margin-top: 30px;
  text-align: center;
}
.form-control{
  position: relative;
  margin: 20px 40px;
  width: 300px;
}
.input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: royalblue;
}
.input:focus,
.input:valid {
  border-bottom: 2px solid #000;
  outline: 0;
}

footer{
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}